#wrapper{
    width: 1000px;
    overflow: hidden;
    margin-top: 0px;
    background-color: #ffffff;
}

#wrapper1{
    width: 1000px;
    height:700px;
    overflow: hidden;
    margin-top: 0px;
    background-color: #ffffff;
}

body{
    background-color: #f7e4c7;
}

.todoInicio{
    width: 1000px;
    overflow: hidden;
    padding-bottom: 80px;
    height: auto;
    min-height: 500px;
}

.listaInicio{
    padding-left: 5px;
    padding-top: 5px;
    width: 130px;
    height: auto;
    text-align: right;
    margin: 0;
    float: left;
}

.centroInicio{
    /* margin-left: 240px;
     margin-top: 20px;*/
    min-height: 500px;
    overflow: hidden;
    float: right;
    /* background-color: red;*/
    width: 864px;
    margin: 0;
    text-align: center;
}

.pointer{
    cursor:pointer;
}

.caja{
    float:left;
    height: 350px;
    width:200px;
    margin-left: 66px;
    margin-top: 70px;
}

.cajaUser{
    margin-bottom: 100px;
}

.cajaGrupo{
    margin-bottom: 20px;
}

.fotoCajaUser{
    height: 200px;
    width:200px;
}

.fotoCajaGrupoImg{
    height: 200px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
}

.descripcionGrupo{
    overflow:hidden;
    height: 122px;
    width:200px;
}

.cajaGrupo{
    border-style:solid;
    border-color:black;
    border-width: 1px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
}

.fotoCajaGrupo{
    height: 200px;
    width:200px;
}

.fotoCajaUserImg{
    height: 200px;
    width:auto;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
}

.textosCaja{
    position:relative;
    z-index:1;
    top:-20px;
    left:20px;
    height: 200px;
    width:200px;

}

.nombreCaja{
    margin-top:3px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color:black;
}
.descripcionCaja{
    height: 205px;
}


#fperfil{
    height:17px;
    width:17px; 
}

.formulario{
    text-align: center;
    position:relative;
    top:15em;
    height:140px;
}

.formularioReg{
    text-align: center;
    position:relative;
    top:10em;
    height:550px;
}
.formularioGrupos{
    margin: 40px;
    width: 300px;
    float: left;
    text-align: left;
    padding-left: 10px;
}
.drop-files-generic {
    width: 300px;
    height: 150px;
    background: #cccccc;
    border-radius: 10px;
    border: 4px dashed rgba(0,0,0,0.2);
    /*color: #ccccff;*/
    padding: 25px 0 0 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: arial;
    margin:  60px auto;
}
.not-drop-files-generic {
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px dashed rgba(0,0,0,0.2);
    float: left;
    margin-top: 55px;
}
.imagen{
    width: auto;
    height: 100px;
    max-width: 300px;
    opacity: 0.4;
    margin: 0 auto;
}
.areaGroup{
    width: 270px;
    height: 180px;
    resize: none;
}
.response-generic{
    width: 100%;
    float: left;
    margin-top: 50px;
    text-align: center;
    /* background-color: red;*/
}
.content-drop-and-form{
    width: 100%;
    float: left;
    height: auto;

}
#groupList {
    /*background-color: blue;*/
    float: left;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 400px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 14px -11px #000;
    -webkit-box-shadow: 0 0 14px -11px #000;
    box-shadow: 0 0 14px -11px #000;
}
#groupList p {
    /*background-color: red;*/
    display: inline-block;
    height: auto;
    margin: 5px;
    overflow: hidden;
    padding: 6px;
    width: auto;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.overGroup {
    /*
-moz-box-shadow:0px 0px 10px 3px rgba(119, 119, 119, 0.4);
-webkit-box-shadow:0px 0px 10px 3px rgba(119, 119, 119, 0.4);
box-shadow:0px 0px 10px 3px rgba(119, 119, 119, 0.4);*/
    -moz-box-shadow:inset 0px 0px 4px 1px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow:inset 0px 0px 4px 1px rgba(119, 119, 119, 0.4);
    box-shadow:inset 0px 0px 4px 1px rgba(119, 119, 119, 0.4);


}
.selectedGroup{
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-weight: normal;
    color: #ffffff;
}
.content-drop-and-form >h4{
    width: 400px;
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
}

/********************************************/
#searchResult{
    width: 40%;
    min-height: 300px;
    max-height: 500px;
    overflow: auto;
    z-index:3;
    /* overflow: hidden;*/
    position: absolute;
    border-left: 1px solid #D44413;
    border-right: 1px solid #D44413;
    border-bottom: 1px solid #D44413;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    right: 30%;
    background-color: white;

}
#searchResult > h5{
    margin-left: 10px;
}
.searchResultOculto{
    visibility: hidden;
    display: none;
}
#searchResult > div{
    width: 80%;
    height: 80px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
}
#searchResult span{
    display: inline-block;
    left: 14px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;  
    font-weight: bold;
}
#searchResult > div > p{
   
    font-size: 12px;
    height: 40px;
    left: 82px;
    position: relative;
    text-align: justify;
    top: -44px;
    width: 57%;

}
#searchResult > div > button {
    float: right;
    position: relative;
    right: 5px;
    top: -90px;
}



.searchResultGrupos{
    border: 1px solid #00FF25;
}
.searchResultPersonajes{
    border: 1px solid #005AFF;
}
.searchResultUser{
    border: 1px solid #FFA500;
}

/*********************************************/

.search-image{
    height: 95%;
    width: 18%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.position-cerrar-search{
   left: 25.2%;
    position: absolute;
    z-index: 3;
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-weight: normal;
    color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}